@charset "utf-8";
/* CSS Document */

#container_tblbill{
 	padding-top:50px;
}
#tbl_bill th{
 	text-align:center;
}
#tbl_bill{
 	text-align:center;
	width:500px;
	margin:0 auto;
}
#container_btncollect{
	text-align:center;
	padding:10px 0 0 0;
}
#container_tblproduct2sale{
	padding:30px 15px 0 15px;
}
#tbl_product2sell, #tbl_product2sell th{
 	text-align:center;
}
#container_paymentinfo{
	padding:15px;
}
#container_paymentinfotitle{
	text-align:center;
	font-weight:bolder;
	font-size:16px;
	border:solid 5px #337AB7;
	border-radius:6px;
	margin-bottom:10px;
}
#container_btnpaymentmethod{
	padding:15px;
	text-align:center;
}
#container_btnpayment{
	text-align:center;
}
#span_ff{
	display:none;
}
#tbl_paymentlist, #tbl_paymentlist th{
	text-align:center;
}
#container_btnamount{
	margin-top:25px;
}
#span_nettotal{
	display:none;
}
#container_btnprocess{
	text-align:center;
}
#btn_addclient{
	/* margin-top: 24px; */
}
.div_total_total{
	border:solid 3px #FFFFFF; font-size:26px; border-radius:8px;
}
.div_total_entrega{
	border:solid 3px #FFFFFF; font-size:26px; border-radius:8px; color:#74C274;
}
.div_total_cambio{
	border:solid 3px #FFFFFF; font-size:26px; border-radius:8px; color:#EFA843;
}
.div_total_diferencia{
	border:solid 3px #FFFFFF; font-size:26px; border-radius:8px; color:#f00;
}
#tbl_product2sell{
	cursor:pointer;
}
#tbl_product, #tbl_product th{
	text-align:center;
	cursor:pointer;
}
#container_payment{
	padding:0;
}
#container_client_recall{
  color: #666;
  font-size: 16px;
}
#btn_amount{
  font-size: 19px;
}
#container_payment_data > div {
  border: solid 2px #FFF;
  border-radius: 8px;
  font-size: 26px;
}
#container_payment_data {
  padding: 0;
}
#payment_paid_out{
  color: #74C274;
}
#payment_to_pay{
  color: #F00;
}
#payment_change{
  color: #EFA843;
}
#container_paymentmethod{
  text-align: center;
}
#container_client{
  padding: 10px 0 0 0;
}
