#CP_hourcont {
font-weight:bold;
padding: 0px;
position:absolute;
border:3px solid #dc4233;
display:none;
border-radius:5px;
background-image:url(../image/tbl_shade1.png);
}

#CP_minutecont {
font-weight:bold;
padding: 0px;
position:absolute;
width:55px;
border:2px solid #dc4233;
display:none;
border-radius:5px;
background-image:url(../image/tbl_shade1.png);
}

.floatleft {
float:left;
}

.CP_hour {
/*	
border-top:solid 2 px #dc4233;
border:solid 1px #dc4233;
*/
border-bottom:solid 2px #dc4233;
color:#000000;
padding:3px;
font-size:12px;
cursor:pointer;
width:60px;
margin:0px;
}

.CP_minute {
/*border:solid 1px #dc4233;*/
border-bottom:solid 2px #dc4233;
color:#000000;
padding:3px;
font-size:11px;
white-space:nowrap;
cursor:pointer;
width:auto;
margin:0px;
}

.CP_over {
background-color:#666666;
}