@charset "utf-8";
/* CSS Document */
#td_genero, #tbl_date, #sel_mc, #td_pac_info{
	padding:0 5px;
}
#div_mc{
	padding:0 5px;
}
#button_date{
	text-align:center;
	margin:10px 0;
}
#div_btn_create{
	padding:5px 10px;
	border: solid 3px #dc4233;
	border-radius:5px;
	margin:0 auto;
	width:-moz-max-content;
	width:-webkit-max-content;
	width:-ms-max-content;
}
#div_btn_create a{
	text-decoration:none;
	color:#dc4233;
}

#div_fecha_actual{
	padding:10px 5px;
	text-align:center;
}
#fecha_actual{
	width:80px;
	height:26px;
}
#td_ci{
	padding: 0 4px;
}
#pac_ci{
	width:75px;	
}

#td_nya{
	padding: 0 4px;
}
#pac_nya{
	padding: 0 0 2px 0;
}

#td_edad{
	padding: 0 4px;
}
#pac_edad{
	width:30px;
}

#td_h{
	padding: 0 4px;
}
#pac_h{
	width:85px;
}

#pac_genero{
	width:92px;
}

#td_bt_add_pac{
	height:50px;
	padding:3px 0;
	text-align:center;
}

#td_pac_info{
	padding: 0 39px;
}
#div_pac_info{
	padding:0px;
}

.bt_open_popup{
	width:25px;
	position:absolute;
	border:outset #CCC 2px;
	margin-left:5px;
	padding:0;
}
.bt_open_popup:active{
	width:25px;
	position:absolute;
	border:inset #CCC 2px;
}
#bt_buscar_ci{
	background:url(../image/lupa_buscar.png) center no-repeat;
	width:24px;
	height:24px;	
}
#bt_save_pac{
	background:url(../image/red_add_noshadow35x35.png) center no-repeat;
	width:40px;
	height:40px;
}

#div_tbl_date{
	border: solid 3px #dc4233;
	border-radius: 8px;
	padding:5px
}
#tbl_date th{
	text-align:center;
}

#tbl_result_cita{
	max-height:220px;
	border: solid 2px #DC4233;
	text-align:center;
}
#tbl_result_cita .tr_inactive{
	background-color:#ACACA2;
	color:#FFF;
}
#date_inactive{
	border: solid 1px #dc4233;
    color: #dc4233;
    font-weight: bolder;
}
#date_active{
	border: solid 1px #060;
    color: #060;
    font-weight: bolder;
}
#tbl_result_cita th{
	font-size: 17px;
	border: solid 2px #DC4233;
	text-align:center;
	background-image:url(../image/tileable-metal-textures.jpg);
	color:#FFF;
}
#tbl_result_cita tbody{
	cursor:pointer;
	font-size: 14px;
}
#tbl_result_cita tbody tr:hover{
	background-image:url(../image/tileable-metal-textures.jpg);
	color:#FFF;
	opacity:0.7;
}
#open_date{
	height:auto;
	padding:0 8px;
}
#btn_cal{
width:20px; 
height:20px; 
background-image:url(../image/calendar201x201.png);
padding:0;
border:none;
}
#div_fecha{
width: 230px;
margin: 0 auto;
}
#date_fecha{
	text-align:center;
}