@charset "utf-8";
/* CSS Document */
#td_genero, #inf_mc, #inf_ea, #inf_antecedente, #inf_ef, #inf_dx, #inf_commentary, #inf_plan, #inf_ef_piel, #inf_ef_head, #inf_ef_orl, #inf_ef_neck, #inf_ef_chest, #inf_ef_abdomen, #inf_ef_pelvis{
	padding:0 4px;
}
#div_fc, #div_ta, #div_fr, #div_temp, #div_gc{
	padding:4px 0;
}
#div_mc, #div_antecedent, #div_ef, #div_ea, #div_dx, #div_comentary, #div_plan{
	padding:0;
}

.tr_subti{
	height:30px;
}
.button_add_short{
	margin-left:5px;
	width:25px;
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-ms-transition: all 0.5s ease-out;
}
.button_add_short:hover{
	width:30px;
	position:inherit;
	border:outset #CCC 2px;
	-webkit-transform: skewY(0.5deg);
	transform: skewY(0.5deg);
}
.bt_open_popup{
	width:25px;
	position:absolute;
	border:outset #CCC 2px;
	margin-left:5px;
	padding:0;
}
.bt_open_popup:active{
	width:25px;
	position:absolute;
	border:inset #CCC 2px;
}
#tbl_historia_con_fecha_con_datos_pac_con_titulo{
	width:100%
}
#tbl_contenido_historia_medica{
	width:100%;
}
#td_izq{
	width:46%;
}
#tbl_inf_derecha{
	margin-left:15px;
}



#td_der{
	width:46%;
}

#tbl_inf_izquierda{
	width:50%;
}


#bt_buscar_ci{
	background:url(../image/lupa_buscar.png) center no-repeat;
	width:24px;
	height:24px;	
}
#bt_save_ef{
	background:url(../image/flecha_roja.png) center no-repeat;
	width:60px;
	height:80px;
}
#bt_save_pac{
	background:url(../image/red_add_noshadow35x35.png) center no-repeat;
	width:40px;
	height:40px;
}
#bt_save_hm{
	background:url(../image/guardar75x75.png) center no-repeat;
	width:80px;
	height:80px;
}
#bt_clear_hm{
	background:url(../image/limpiar75x75.png) center no-repeat;
	width:80px;
	height:80px;
}
#bt_print_hm{
	background:url(../image/imprimir75x75.png) center no-repeat;
	width:80px;
	height:80px;
}
#fecha_actual{
	width:80px;
	height:26px;
}

#td_ci{
	padding: 0 4px;
}

#pac_ci{
	width:75px;	
}
#td_nya{
	padding: 0 4px;
}
#pac_nya{
/*	width:185px;	
*/	padding: 0 0 2px 0;
}
#td_edad{
	padding: 0 4px;
}
#pac_edad{
	width:30px;
}
#td_h{
	padding: 0 4px;
}
#pac_h{
	width:85px;
}
#pac_genero{
	width:92px;
}
#td_bt_add_pac{
	height:50px;
	padding:3px 0;
	text-align:center;
}
#td_pac_info{
	padding: 0 39px;
}
#div_pac_info{
	padding:0px;
}
#div_tipo_informe{
	min-height:40px;
	padding:10px 0;
}
#div_examen_fisico{
	padding:0 5px;
}
#div_divider_med_history{
	margin:70px 0;
}
#div_informe{
	padding:0 5px;
}
#div_button{
	padding:10px 0;
}




/*#inf_ea_genero{
	width:132px;
}

#inf_m_mc{
	width:200px;	
	
}
*/




#div_ttl_mc{
	padding:0 3px;
}
#div_config_mc{
	padding:0;
}
#div_sel_mc{
	padding:0 5px;	
}
#div_inf_mc{
	padding:0;
}
#sel_mc{
	padding:0;
}
#inf_mc{
/*	width:275px;
*/	height:90px;	
}



#div_ttl_ea{
	padding:0 5px;
}
#div_config_ea{
	padding:0;
}
#div_sel_ea{
	padding:0 5px;	
}
#div_inf_ea{
	padding:0;
}
#sel_ea{
	padding:0;
}
#inf_ea{
/*	width:275px;
*/	height:90px;
}



#div_ttl_antecedent{
	padding:0 5px;
}
#div_config_antecedent{
	padding:0;
}
#div_sel_antecedent{
	padding:0 5px;	
}
#div_inf_antecedent{
	padding:0;
}
#sel_antecedente{
	padding:0;
}
#inf_antecedente{
/*	width:275px;
*/	height:90px;	
}



#div_ttl_ef{
	padding:0 5px;
}
#div_inf_ef{
	padding:0 0 0 5px;
}
#inf_ef{
/*	width:412px;
	width:471px;
*/	height:204px;
}




#div_ttl_dx{
	padding:0 5px;
}
#div_config_dx{
	padding:0;
}
#div_sel_dx{
	padding:0 5px;	
}
#div_inf_dx{
	padding:0;
}
#sel_dx{
	padding:0;
}
#inf_dx{
/*	width:275px;*/
	height:90px;	
}





#div_ttl_comentary{
	padding:0 5px;
}
#div_inf_comentary{
	padding:0 0 0 5px;
}
#inf_commentary{
/*	width:412px;
	width:471px;
*/	height:90px;
}



#div_ttl_plan{
	padding:0 5px;
}
#div_config_plan{
	padding:0;
}
#div_sel_plan{
	padding:0 5px;	
}
#div_inf_plan{
	padding:0;
}
#filter_tratamiento{
/*	width:130px;
*/
	padding:0;
}
#sel_tto{
/*	width:130px;
*/
	padding:0;
}
#inf_plan{
/*	width:275px;
*/	height:90px;	
}










#div_vital_sign{
	padding:0 10px;
}
#inf_ef_fc{
	width:35px;
}
#inf_ef_fr{
	width:25px;
}
#inf_ef_tas{
	width:35px;
}
#inf_ef_tad{
	width:35px;
}
#inf_ef_temp{
	width:25px;
}
#inf_ef_gc{
	width:35px;
}

#div_ef_condition{
	padding:0 10px;	
}
#inf_ef_condicion{
	width:60px;
}
#inf_ef_hidratacion{
	width:85px;
}
#inf_ef_fiebre{
	width:65px;
}
#inf_ef_respiracion{
	width:85px;
}
#inf_ef_mucosa{
	width:70px;
}
#inf_ef_pupila{
	width:85px;
}



#div_ttl_skin{
	padding:0 10px;
}
#div_sel_ef_skin{
	padding:0;	
}
#div_inf_ef_skin{
	padding:0;
}
#sel_ef_piel{
	padding:0;
}
#inf_ef_piel{
/*	width:240px;
*/	height:60px;
}


#div_ttl_head{
	padding:0 10px;
}
#div_sel_ef_head{
	padding:0;	
}
#div_inf_ef_head{
	padding:0;
}
#sel_ef_head{
	padding:0;
}
#inf_ef_head{
/*	width:240px;
*/	height:60px;	
}


#div_ttl_orl{
	padding:0 10px;
}
#div_sel_ef_orl{
	padding:0;	
}
#div_inf_ef_orl{
	padding:0;
}
#sel_ef_orl{
	padding:0;
}
#inf_ef_orl{
/*	width:240px;
*/	height:60px;
}


#div_ttl_neck{
	padding:0 10px;
}
#div_sel_ef_neck{
	padding:0;	
}
#div_inf_ef_neck{
	padding:0;
}
#sel_ef_neck{
	padding:0;
}
#inf_ef_neck{
/*	width:240px;
*/	height:60px;
}



#div_ttl_chest{
	padding:0 10px;
}
#div_sel_ef_respiratory{
	padding:0;	
}
#div_sel_ef_cardiac{
	padding:0;	
}
#div_inf_ef_chest{
	padding:0 0 0 10px;
}
#sel_ef_respiratory{
	padding:0;
}
#sel_ef_cardiac{
	padding:0;
}
#inf_ef_chest{
/*	width:407px;
*/	height:60px;	
}





#div_ttl_abdomen{
	padding:0 7px;
}
#div_sel_ef_abd_auscultation{
	padding:0;	
}
#div_sel_ef_abd_palpation{
	padding:0;	
}
#div_sel_ef_abd_inspection{
	padding:0;	
}
#div_inf_ef_abdomen{
	padding:0 0 0 10px;
}

#sel_ef_abd_inspection{
	padding:0;
}
#sel_ef_abd_auscultation{
	padding:0;
}
#sel_ef_abd_palpation{
	padding:0;
}
#inf_ef_abdomen{
/*	width:407px;
*/	height:60px;
}




#div_ttl_pelvis{
	padding:0 10px;
}
#div_sel_ef_pelvis{
	padding:0;	
}
#div_inf_ef_pelvis{
	padding:0;
}
#sel_ef_pelvis{
	padding:0;
}
#inf_ef_pelvis{
/*	width:240px;
*/	height:60px;
}
#div_hm_nav{
border-bottom: solid 2px #dc4233;
padding: 10px 15px;
}
.nav-pills li{
	cursor:pointer;
}
#div_date_owner{
	border: solid 3px #dc4233;
	margin: 5px 0;
	border-radius: 5px;
	background-image: url(../../../generic_informer/attached/image/tbl_shade1.png);
	font-weight:bolder;
	font-size:16px;
	text-align:center;
	padding:10px 0;
}
#div_btn_divider{
	padding:5px 10px;
	border: solid 3px #dc4233;
	border-radius:5px;
	margin:0 auto;
	width:-moz-max-content;
	width:-webkit-max-content;
	width:-ms-max-content;
	text-decoration:none;
}
#div_btn_divider a{
	text-decoration:none;
	color:#dc4233;
	cursor:pointer;
}
#div_btn_bottom{
	padding:5px 5px;
	margin:0 auto;
}
#div_btn_bottom a{
	text-decoration:none;
	color:#dc4233;
	cursor:pointer;
}




/*#guardar_motivo{
	width:50px;
}*/

.optmayuscula{
    text-transform:capitalize;
}
